<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} DETAILS <mat-icon>star</mat-icon></h2>
  <div class="container"><span>id: </span>{{hero.id}}</div>
  <div class="container">
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    <label for="hero-points">Hero points: </label>
    <input id="hero-pints" [(ngModel)]="hero.puntos" placeholder="Hero points"/>
    <button type="button" (click)="goBack()">	<mat-icon>arrow_back</mat-icon> Return </button>
    <button type="button" (click)="save()"> Save<mat-icon>bookmark</mat-icon> </button>
  </div> <br>

</div>
