<style>
  /* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
<h1>{{title}}</h1>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button color="primary" aria-label="home icon" routerLink="/dashboard"> Dashboard
          <mat-icon>home</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label=" heart icon" routerLink="/heroes" >Lista de heroes
          <mat-icon>favorite</mat-icon>
          
        </button>
        <app-hero-search></app-hero-search>
      </div>
    </div>   
  </section>
</nav>
<article>
  <h1>Conoce el sitio</h1>
  <p>Este sitio es una fan page para juntar a tus heroes favoritos en la cual podrás añadir nuevos personajes y asiganarles un valor de puntos o calificación, aqui se muestran los de mayor relevancia. Pudes buscar personajes, navegar entre el sitio y ver los detalles que hemos preparado sobre estos heroes, gracias por visitar el sitio. Divierte!  </p>

</article>
<router-outlet></router-outlet>
<app-messages></app-messages>


